@value logoHeight, mediaQuery, pcMarginTop, pcMarginLeft, mobileMarginLeft, mobileMarginTop from "../common/sizes.css";

.container {
  position: fixed;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: pcMarginTop pcMarginLeft;
  z-index: 1;
}

.logoBlock {
  cursor: pointer;
  text-decoration: none;
}

.logoTxt {
  cursor: pointer;
  display: inline;
  font-family: "Helvetica Neue";
  font-size: 2.1rem;
  font-weight: bold;
  user-select: none;
}

@media screen and (max-width: mediaQuery) {
  .container {
    padding: mobileMarginTop mobileMarginLeft;
  }

  .item {
    align-items: center;
    vertical-align: middle;
  }

  .anno {
    display: inline;
    margin-left: 10px;
    font-family: "Helvetica Neue";
    font-size: 1rem;
    font-weight: 100;
  }
}
