@value logoHeight, mediaQuery from "../common/sizes.css";

.container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  z-index: 3;
  /* background-color: aqua; */
}

.item {
  align-items: center;
  vertical-align: middle;
}

.logoBlock {
  cursor: pointer;
  text-decoration: none;
}

.logoTxt {
  cursor: pointer;
  display: inline;
  font-family: "Helvetica Neue";
  font-size: 2rem;
  font-weight: bold;
}

.anno {
  display: inline;
  margin-left: 10px;
  font-family: "Helvetica Neue";
  font-size: 1rem;
  font-weight: 100;
}
