@value mediaQuery, logoHeight from "../common/sizes.css";
@value vagueColor, deepVagueColor, vagueFontColor from "../common/color.css";
@value flowing from "../common/animation.css";

@media only screen and (max-width: mediaQuery) {
  .invisible {
    position: fixed;
    transition: all 0.3s ease-out;
    opacity: 0;
    display: none;
  }

  .visible {
    position: fixed;
    transition: all 0.3s ease-in;
    opacity: 1;
    z-index: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: deepVagueColor;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .item {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    padding: 0;
    font-weight: 700;
    color: vagueFontColor;
    mix-blend-mode: hard-light;
  }

  .flow {
    display: flex;
    justify-content: space-between;
    width: 24rem;
    position: fixed;
    top: 95vh;
    animation: flowing 30s linear infinite;
    transform: translateX(100%);
    font-weight: 100;
  }
}
