.card {
  /* background-color: aqua; */
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

.card::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 0;
  padding: 0;
  position: relative;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.title {
  /* background-color: aqua; */
  /* color: rgba(255, 255, 255, 0.8); */
  /* color: rgba(200, 200, 200, 0.8); */
  color: rgba(0, 0, 0, 0.8);
  /* color: rgba(50, 50, 50, 0.8); */
  /* mix-blend-mode: difference; */
  position: fixed;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  top: 50%;
  width: 100%;
  z-index: 3;
}

.hide {
  position: fixed;
  display: none;
}
