@value contentMarginTop, mobileMarginTop, mobileMarginLeft, mobileFeatureImgHeight, pcFeatureImgHeight, pcMarginLeft, mediaQuery from "../common/sizes.css";

.card {
  position: relative;
  display: flex;
  justify-content: center;
}

.coverImg {
  width: 100%;
  height: pcFeatureImgHeight;
  position: absolute;
}

.textContainer {
  margin-top: pcFeatureImgHeight;
  width: mediaQuery;
}

.postTitle {
  margin-top: 4rem;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.6rem;
  width: 100%;
}

.excerpt {
  margin-top: 3rem;
  font-weight: 100;
  font-size: 1.2rem;
}

.postDate {
  margin-top: 1rem;
  font-weight: 100;
  font-size: 0.8rem;
}

.postBody {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-weight: 300;
  font-size: 1rem;
}

.postBody h2,
.postBody h3 {
  margin-top: 5rem;
}
/* .postBody h3 {
  margin-top: 3rem;
} */

.postBody p {
  line-height: calc(1ex / 0.32);
  margin-top: rem;
}

.postBody li {
  margin-top: 2rem;
  margin-left: 1rem;
}

/* .postBody li p {
  display: inline;
} */

.postBody div {
  margin: 3rem 0;
}

.postBody hr {
  margin: 1rem 2rem;
}

.postBody figure {
  margin: 5rem 0;
}

.postBody figcaption {
  font-size: 0.8rem;
  text-align: center;
}

/* .postFooter {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
} */

@media screen and (max-width: mediaQuery) {
  .card {
    padding-top: contentMarginTop;
  }

  .coverImg {
    height: mobileFeatureImgHeight;
  }

  .textContainer {
    margin-top: mobileFeatureImgHeight;
    padding: 0 mobileMarginLeft;
    width: 100%;
  }

  .postTitle {
    font-size: 1.2rem;
    width: 75%;
  }

  .excerpt {
    font-size: 1rem;
  }

  .postDate {
    margin-top: 1.5rem;
    font-weight: 100;
    font-size: 0.75rem;
  }

  .postBody {
    margin-bottom: 50vw;
  }
}
