@value contentMarginTop, mobileFeatureImgHeight, pcFeatureImgHeight, mobileMarginLeft, pcMarginTop, pcMarginLeft, mediaQuery from "../common/sizes.css";

.card {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.featureImage {
  position: absolute;
  height: pcFeatureImgHeight;
  width: 100%;
}

.textContainer {
  margin: calc(pcFeatureImgHeight + 3rem) pcMarginLeft;
  height: calc(100vh - pcFeatureImgHeight - contentMarginTop - 3rem);
  position: absolute;
  width: mediaQuery;
}

.title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
}

.excerpt {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-weight: 100;
}

.tags {
  position: relative;
}

.tag {
  font-size: 0.7rem;
  font-weight: 100;
}

@media screen and (max-width: mediaQuery) {
  .featureImage {
    top: contentMarginTop;
    height: mobileFeatureImgHeight;
  }

  .textContainer {
    width: 100%;
    margin: calc(mobileFeatureImgHeight + contentMarginTop + 2rem) 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: calc(100vh - mobileFeatureImgHeight - contentMarginTop - 2rem);
  }

  .title {
    width: 75%;
    font-size: 1.2rem;
  }

  .excerpt {
    font-size: 0.8rem;
  }

  .tag {
    font-size: 0.5rem;
  }
}
