.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: violet;
  margin: 0px 20px;
}

.item {
  align-items: center;
  vertical-align: middle;
}

.logo {
  background-color: rgba(0, 0, 0, 1);
  mix-blend-mode: soft-light;
  mask: url(../public/ljharchitects_logo.svg) no-repeat center;
  width: 100px;
  height: 100px;
}
