@value mediaQuery from "./common/sizes.css";

@media only screen and (max-width: mediaQuery) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    backdrop-filter: blur(10px);
  }

  .item {
    margin-top: -5px;
    font-weight: 300;
    font-size: 1.1rem;
    mix-blend-mode: screen;
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: blue;
  }

  /* .item:hover {
  color: rgba(0, 0, 0, 1);
} */
}
