@value mediaQuery, headerHeight from "../../styles/common/sizes.css";
@value vagueColor, deepVagueColor from "../../styles/common/color.css";
@value defaultFont from "../../styles/common/font.css";

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: aqua; */
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  backdrop-filter: blur(10px);
  background: deepVagueColor;
}

.button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  pointer-events: auto;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navigation {
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_container {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.text_placeholder {
  position: relative;
  text-align: center;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
  cursor: pointer;
  pointer-events: auto;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: mediaQuery) {
  .button {
    right: 25px;
  }
}
